.master-header-div{
    height: 45px;
    width: 100vw;
    background-color: #E45C3A;
    display: flex;
    position: fixed;
    z-index: 4;
    align-items: center;
    position: relative;
    justify-content: space-between;
}

.master-header-div > h1{
    font-size: 140%;
    color: white;
    font-family: 'Dancing Script', cursive;
    font-weight: 550;
    text-shadow: 2px 2px 2px black;
}

.navbar{
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.large-screen-nav-list{
    position: absolute;
    top: 10px;
    right: 0;
    display: flex;
    justify-content: space-evenly;
}

.hamburger{
    height: 35px;
    margin-right: 15px;
    display: none;
    cursor: pointer;
}

.nav-item{
    cursor: pointer;
    text-decoration: none
}

/* MOBILE NAV STYLING HERE */

.mobile-nav-item-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    border-bottom: 2px solid white;
}

.nav-item-icon{
    padding-left: 15px;
    height: 40px;
}

.mobile-nav-item{
    padding-right: 10px;
    text-decoration: none;
    color: white;
    font-size: 150%;
    text-shadow: 2px 2px 4px black;
    list-style: none;
}

.mobile-nav-list-closed{
    position: absolute;
    z-index: 14;
    top: 45px;
    right: 0;
    height: 0;
    width: 250px;
    box-shadow: -2px 2px 5px white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: all .35s ease-in-out;
    overflow-y: hidden;
    background-color: rgba(0, 0, 0, 0.4);
}

.mobile-nav-list-open{
    height: 60vh;
}

@media(max-width: 800px){
    .large-screen-nav-list{
        display: none;
    }
    .hamburger{
        display: block;
    }
}