.master-rsvp-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
}

.rsvp-h1 {
    font-size: 160%;
    margin-top: -15px;
    margin-bottom: 10px;
    padding-bottom: 3px;
    padding-right: 15px;
    padding-left: 15px;
    border-bottom: 3px solid #008024;
}

.RSVP-container {
    /* border-radius: 5px; */
    margin-top: 25px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* background: chartreuse; */
    width: 94%;
    height: 550px;
    box-shadow: 0px 2px 4px 0px black;
}

.menu-container {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
}

.menu-container>p {
    font-size: 130%;
    width: 60%;

}

.lodging-select {
    height: 100%;
    padding: 5px;

}

.ui-inputs {
    width: 80%;
}

.rsvp-btn-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.rsvp-btns {
    width: 80%;
    /* padding: 15px; */
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 125%;
    font-weight: 700;
    background: #E45C3A;
}

.rsvp-h2 {
    font-size: 130%;
    width: 80%;
}

.registry-container {
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 90%;
    /* box-shadow: 0px 2px 3px 0px black; */
}

.registry-container>h1 {
    font-size: 140%;
    margin-bottom: 15px;
}

.registry-logo-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.RSVP-container > p{
    width: 80%;
    font-size: 120%;
}

.registry-logo {
    height: 60px;
}