.master-rsvp-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
}

.rsvp-h1{
    font-size: 160%;
    margin-top: -15px;
}

.RSVP-container{
    border-radius: 5px;
    margin-top: 25px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* background: chartreuse; */
    width: 96%;
    height: 700px;
    box-shadow: 2px 2px 4px black;
}

.menu-container{
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    border: 2px solid forestgreen;
}

.menu-container > p {
    font-size: 120%;
    /* text-shadow: 1px 1px 2px black; */
}

.lodging-select{
    /* height: 100%; */
    padding: 5px;
}

.ui-inputs{
    width: 80%;
}

.rsvp-btn-container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.rsvp-btns{
    width: 28%;
    /* padding: 15px; */
    padding-top: 15px;
    padding-bottom: 15px;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 125%;
    font-weight: 700;
    background: #E45C3A;
}

.registry-container{
    box-shadow: 2px 2px 4px black;
}

.registry-logo-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 80%; */
    background: chocolate;
}

.registry-logo{
    height: 60px;
}
