.master-rsvp-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
}

.rsvp-h1{
    font-size: 160%;
    margin-top: 25px;
}

.RSVP-container{
    border-radius: 5px;
    margin-top: 25px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* background: chartreuse; */
    width: 90%;
    height: 700px;
    box-shadow: 2px 2px 4px black;
}

.menu-container{
    display: flex;
    background: crimson;
}

.lodging-select{
    padding: 15px;
}

.ui-inputs{
    width: 80%;
}

.rsvp-btn-container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.rsvp-btns{
    width: 28%;
    /* padding: 15px; */
    padding-top: 15px;
    padding-bottom: 15px;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 125%;
    font-weight: 700;
    background: #E45C3A;
}