.master-login-div{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.login-form-container{
    position: relative;
    height: 450px;
    width: 350px;
    background-color: white;
}

.close-img{
    cursor: pointer;
    background-color:#E0E0E0;
    border-radius: 50%;
    padding: 5px;
    position: absolute;
    top: 20px;
    right: 20px;
    height: 40px;
    width: 40px;
}

.close-img:hover{
    background-color: #999999;
}