.master-login-div{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.login-form-container{
    position: relative;
    height: 80%;
    width: 90%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.close-img{
    cursor: pointer;
    background-color:#959595;
    border-radius: 50%;
    padding: 5px;
    position: absolute;
    top: 20px;
    right: 20px;
    height: 40px;
    width: 40px;
    z-index: 5;
}

.close-img:hover{
    transition: all .3s ease-in-out;
    height: 45px;
    width: 45px;
}

.family-pic-container{
    position: relative;
}

.family-pic-container > h1 {
    position: absolute;
    bottom: -25px;
    right: 28%;
    color: black;
    background-color: #279185;
    text-shadow: 1px 1px 1px white;
    padding: 10px;
    font-size: 170%;
    font-family: 'Dancing Script', cursive;
}

.family-pic{
    height: 200px;
    width: 100%;
    object-fit: cover;
    object-position: 0 -50px;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
    /* clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%); */
}

.first-and-last-name-inputs{
    margin-top: 50px;
    display: flex;
    width: 95%;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.password-container{
    margin-top: 25px;
}