.master-map-div{
    width: 100vw;
    height: 950px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: purple; */
}

.map-h1{
    font-size: 180%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.master-map-div > p {
    font-size: 110%;
    padding-bottom: 20px;
}

.google-map-container{
    border-radius: 3px;
    box-shadow: 2px 2px 5px black;
    height: 450px;
    width: 92%;
}

.airbnb-header-container{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.airbnb-header-container > h1{
    font-size: 260%;
    color: forestgreen;
    /* text-shadow: 1px 1px 0px black; */
}

.airbnb-subcontainer{
    margin-top: 10px;
    font-size: 130%;
    display: flex;
}

.airbnb-subcontainer > h2 {
    color: #E45C3A;
    /* font-size: 110%; */
    /* border-bottom: 1px solid black; */
}

.airbnb-image-container{
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    overflow-x: scroll;
    /* overflow-y: auto; */
    width: 100vw;
    height: 200px;
    object-fit: cover;
    /* background-color: cyan; */
}

/* .airbnb-container:nth-child(odd){
    background-color: red;
} */

.airbnb-picture{
    margin-left: 5px;
    height: 190px;
    width: 250px;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0, .7);
}

.airbnb-picture:nth-child(1){
    margin-left: 0px;
}