.master-map-div{
    width: 90vw;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: purple;
}

.google-map-container{
    height: 90%;
    width: 90%;
}